.emailBody {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightseagreen;
  padding: 0px 10px;
  height: 40px;
}

.emailBody:hover {
  box-shadow: 2px 2px 4px lightskyblue;
  cursor: pointer;
}

.emailBody .emailbody__left {
  display: flex;
  align-items: center;
  flex: 30%;
}
.emailBody .emailbody__left svg {
  font-size: 18px;
  color: black;
  margin-right: 15px;
}

.emailBody .emailbody__left h4 {
  font-size: 14px;
}
.emailBody .emailbody__middle {
  display: flex;
  align-items: center;
  flex: 60%;
  margin-left: 5px;
}
.emailBody .emailbody__middle p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}
.emailBody .emailbody__middle b {
  /* font-size: 14px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  margin-right: 5px;
  margin-left: 5px;
}
.emailBody .emailbody__right {
  display: flex;
  align-items: center;
  flex: 10%;
  justify-content: flex-end;
}
.emailBody .emailbody__right p {
  font-size: 12px;
}

.emailbody__middle .emailbody__middle__msg {
  display: flex;
  align-items: center;
  justify-content: center;
}
