.emaillist .emaillist__settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid lightgreen;
}

.emaillist__settings__left {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.emaillist__settings__right {
  margin-left: 460px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}
